.obs{
    width: 70%;
    height: 100px;
}


.loading {
    margin-left: 40%;
    margin-right: 50%;
    position: absolute;
    z-index: 1;
}

.divDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events:none;
    
}