<!--<mat-card class="cardChamado">
  <mat-card-header style="border-bottom: solid">
    <mat-card-title>
      Este chamado deve ser atendido
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.     
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions> -->

<div class="card">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>

